.pluck-plugin-wrap {

}

table.pluck-settings-table {
	display: none;
	border-bottom: 0;
}

table.pluck-settings-table td {
	vertical-align: top;
}

table.pluck-settings-table td label {
	font-weight: bold;
}

table.pluck-settings-table td label.label-value {
	font-weight: normal;
}

table.pluck-settings-table textarea {
	width: 90%;
	min-height: 300px;
}

table.pluck-settings-table textarea#pluck-inline-css-textarea,
table.pluck-settings-table textarea#pluck-inline-js-textarea {
	display: none;
}

table.pluck-actions-table {
	margin-top: 0;
	border-top: 0;
}

table.pluck-settings-table td input[type="radio"]:checked + label.label-value{ 
	font-weight: bold; 
} 

#pluck-inline-css-editor, #pluck-inline-js-editor {
	min-height: 400px;
	position: relative;
}