/* MIXINS */
/* COMMENT MIXINS */
/* COMMENTS */
.pluck-publicBlogs-blogPost-comments-wrap {
  padding: 10px 45px 10px 45px;
}
.pluck-review-main-area .pluck-review-full-review-comment-wrap a {
  color: #972678;
}
.pluck-review-main-area .pluck-review-full-review-action-buttons a {
  color: #972678;
}
.pluck-comm .pluck-comm-wrapper {
  border: none;
  margin-left: 0;
}
.pluck-comm-single-comment-top .pluck-comm-single-comment-main {
  padding: 10px 0 0 0;
  border-top: 0;
  border-bottom: 1px solid #a6a6a5;
}
.pluck-comm-single-comment-top .pluck-comm-single-comment-main div.pluck-comm-comment-action-group-arrow-wrapper {
  border: none;
}
.pluck-login-comment-input {
  margin: 0 auto;
}
.pluck-review-full-review-comment-container {
  width: auto;
  margin: 0 20px 0 65px;
}
.pluck-comm-single-comment-main {
  background: none;
}
.pluck-comm-share-abuse-controls .pluck-comm-email-area {
  display: none;
}
.pluck-comm-share-abuse-controls .pluck-comm-permalink-area {
  display: none;
}
.pluck-comm-share-abuse-controls .pluck-comm-share-area a.pluck-share-set {
  background: none;
}
a.pluck-abuse-report.pluck-abuse-report-link.pluck-comm-report-abuse {
  font-size: 1em;
}
.pluck-comm-comment-content {
  margin: 9px 0px 0 60px;
  padding: 0 0 20px 0;
}
.pluck-comm-comment-action-group .pluck-comm-abuse-area a.pluck-comm-report-abuse {
  font-weight: normal;
  font-size: .9em;
}
h4.pluck-comm-username-url {
  margin-top: 0;
  margin-bottom: 2px;
  padding-top: 0;
}
h4.pluck-comm-username-url a {
  font-weight: bold;
  text-decoration: none;
  color: #004b8d;
  font-size: 1.1em;
}
.pluck-comm-comment-content p.pluck-comm-timestamp {
  color: #1A1414;
  margin-bottom: 10px;
}
.pluck-comm-rate-system {
  display: none;
}
.pluck-login-comment-input {
  border: none;
  margin-top: 20px;
}
.pluck-login-comment-links-wrapper {
  width: 275px;
  margin-bottom: 15px;
  background-color: white;
  border: none;
}
.pluck-login-comment-content {
  background-color: white;
}
p.pluck-login-comment-calltoaction {
  padding-left: 0;
  color: #616161;
}
.pluck-comm-share-abuse-controls span {
  margin-top: 0;
}
span.pluck-comm-reply-button {
  display: none;
}
div.pluck-comm-rate-controls {
  display: none;
}
.pluck-comm-comment-input {
  border: 0;
  min-width: 0;
  margin: 0;
}
.pluck-comm-submit-loggedInUser {
  display: none;
}
p.pluck-comm-calltoaction {
  padding-left: 0;
  margin-top: 10px;
  margin-bottom: 0;
  background-color: white;
  color: #1A1414;
}
.pluck-comm-input-rounded-wrap,
.pluck-comm-submit-wait-modal {
  background: white;
  border: 4px solid white;
}
.pluck-comm-message-border {
  margin: 0px;
  margin-top: 10px;
  padding: 0;
  margin: 0;
  border: 0;
}
.pluck-comm-message-border textarea {
  border: 2px solid #abadb3;
  margin: 10px;
}
.pluck-comment-input-box {
  margin: 0 !important;
  padding: 0 !important;
}
span.pluck-comm-submit-option {
  margin-top: 5px;
  float: right;
  margin-right: 26px;
}
.pluck-comm-no-comments .pluck-comm-message-border .pluck-comm-first-to-comment {
  display: none;
}
.pluck-comm-socialoptions {
  background-color: transparent;
}
@media screen and (max-width: 550px) {
  .pluck-review-full-review-comment-container {
    margin: 0;
  }
  .pluck-publicBlogs-blogPost-comments-wrap,
  .pluck-review-full-review-comment-wrap {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .pluck-comm-message-border textarea {
    width: 99%;
  }
  .pluck-comm-sc-avatar {
    display: none;
  }
  .pluck-comm-comment-content {
    margin: 9px 0px 0 0;
    padding: 0 0 20px 0;
  }
  .pluck-comm-message-border {
    min-width: 0;
    width: 100%;
  }
}
.pluck-comm-username-display a {
  font-family: arial, helvetica, sans-serif;
}
textarea.pluck-comment-input-box,
.pluck-comm-message-border {
  width: 100%;
}
.pluck-comm-commentcount {
  background-color: #4d4d4d;
}
.pluck-comm-commentcount div.pluck-comm-commentcount-actions p,
.pluck-comm-commentcount p.pluck-comm-commenttext,
.pluck-comm-commentcount p.pluck-comm-commenttext span.pluck-comm-comment-number-highlight {
  color: white;
}
.pluck-comm-ReplyLevel-2 {
  border: none;
}
/* END OF COMMENTS */
/* BLOG ROLL */
.pluck-publicBlogs {
  min-width: 0;
}
.pluck-publicBlogs a {
  color: #ef3c1f;
}
.pluck-publicBlogs .pluck-publicBlogs-wrapper {
  border: 0;
}
.pluck-publicBlogs .pluck-publicBlogs-wrapper .pluck-publicBlogs-wrapper-logo {
  display: none;
}
.pluck-publicBlogs .pluck-publicBlogs-wrapper .pluck-publicBlogs-blogPost {
  background: #ffffff;
}
.pluck-publicBlogs .pluck-publicBlogs-wrapper .pluck-publicBlogs-blogPost .pluck-publicBlogs-blogPost-blog-bar {
  display: none;
}
.pluck-publicBlogs .pluck-publicBlogs-wrapper .pluck-publicBlogs-blog {
  padding: 0;
}
.pluck-publicBlogs .pluck-publicBlogs-wrapper .pluck-publicBlogs-blog .pluck-publicBlogs-blog-workarea {
  margin-right: 0;
}
.pluck-publicBlogs .pluck-publicBlogs-wrapper .pluck-publicBlogs-blog .pluck-publicBlogs-blog-workarea .pluck-publicBlogs-blog-post-list .pluck-publicBlogs-blog-post-title-custom {
  background: #393939;
  margin-top: 10px;
}
.pluck-publicBlogs .pluck-publicBlogs-wrapper .pluck-publicBlogs-blog .pluck-publicBlogs-blog-workarea .pluck-publicBlogs-blog-post-list .pluck-publicBlogs-blog-post-title-custom div.pluck-publicBlogs-blog-post-title {
  padding: 5px 10px;
  font-size: 1.2em;
}
.pluck-publicBlogs .pluck-publicBlogs-wrapper .pluck-publicBlogs-blog .pluck-publicBlogs-blog-workarea .pluck-publicBlogs-blog-post-list .pluck-publicBlogs-blog-post-title-custom div.pluck-publicBlogs-blog-post-title a {
  color: #ffffff;
}
.pluck-publicBlogs .pluck-publicBlogs-wrapper .pluck-publicBlogs-blog .pluck-publicBlogs-blog-workarea .pluck-publicBlogs-blog-post-list .pluck-publicBlogs-blog-post-wrap {
  background: #ffffff;
  padding: 0px 10px 10px 10px;
  margin-top: 0;
}
.pluck-publicBlogs-blog-post-content .pluck-publicBlogs-blog-post-visible-info div.pluck-publicBlogs-blogPost-username,
.pluck-publicBlogs-blogPost-content .pluck-publicBlogs-blog-post-visible-info div.pluck-publicBlogs-blogPost-username,
.pluck-publicBlogs-blog-post-content .pluck-publicBlogs-blogPost-visible-info div.pluck-publicBlogs-blogPost-username,
.pluck-publicBlogs-blogPost-content .pluck-publicBlogs-blogPost-visible-info div.pluck-publicBlogs-blogPost-username {
  font-size: 1em;
  font-weight: bold;
}
.pluck-publicBlogs-blog-post-content .pluck-publicBlogs-blog-post-visible-info .pluck-publicBlogs-blog-post-username a,
.pluck-publicBlogs-blogPost-content .pluck-publicBlogs-blog-post-visible-info .pluck-publicBlogs-blog-post-username a,
.pluck-publicBlogs-blog-post-content .pluck-publicBlogs-blogPost-visible-info .pluck-publicBlogs-blog-post-username a,
.pluck-publicBlogs-blogPost-content .pluck-publicBlogs-blogPost-visible-info .pluck-publicBlogs-blog-post-username a {
  color: #ef3c1f;
}
.pluck-publicBlogs-blog-post-content .pluck-publicBlogs-blog-post-visible-info .pluck-publicBlogs-blog-post-preview,
.pluck-publicBlogs-blogPost-content .pluck-publicBlogs-blog-post-visible-info .pluck-publicBlogs-blog-post-preview,
.pluck-publicBlogs-blog-post-content .pluck-publicBlogs-blogPost-visible-info .pluck-publicBlogs-blog-post-preview,
.pluck-publicBlogs-blogPost-content .pluck-publicBlogs-blogPost-visible-info .pluck-publicBlogs-blog-post-preview {
  width: 100%;
}
.pluck-publicBlogs-blog-post-content .pluck-publicBlogs-blog-post-visible-info .pluck-publicBlogs-blog-post-preview h2,
.pluck-publicBlogs-blogPost-content .pluck-publicBlogs-blog-post-visible-info .pluck-publicBlogs-blog-post-preview h2,
.pluck-publicBlogs-blog-post-content .pluck-publicBlogs-blogPost-visible-info .pluck-publicBlogs-blog-post-preview h2,
.pluck-publicBlogs-blogPost-content .pluck-publicBlogs-blogPost-visible-info .pluck-publicBlogs-blog-post-preview h2 {
  display: none !important;
}
.pluck-curvycorners .pluck-publicBlogs-wrapper {
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
}
.pluck-publicBlogs-blog-actions {
  background: none;
  margin: 14px 0px;
}
.pluck-publicBlogs-blog-actions a span {
  width: 70px;
}
.pluck-publicBlogs-blog-links,
.pluck-publicBlogs-title-bar,
.pluck-publicBlogs-blog-info,
.pluck-publicBlogs-blog-posts-bar {
  display: none;
}
div.pluck-publicBlogs-blogPost-username {
  font-size: 1em;
  font-weight: bold;
  color: red;
}
.pluck-publicBlogs-blog-post-visible-info .pluck-publicBlogs-blog-post-username a {
  color: #ef3c1f;
  font-size: 1.25em;
  font-weight: bold;
}
.pluck-publicBlogs-blogPost-description img,
.pluck-publicBlogs-blog-post-preview img,
.pluck-publicBlogs-blogPost-description video,
.pluck-publicBlogs-blog-post-preview video,
.pluck-publicBlogs-blogPost-description p,
.pluck-publicBlogs-blog-post-preview p {
  max-width: 100%;
  height: auto;
}
.pluck-publicBlogs-blogPost-description img object,
.pluck-publicBlogs-blog-post-preview img object,
.pluck-publicBlogs-blogPost-description video object,
.pluck-publicBlogs-blog-post-preview video object,
.pluck-publicBlogs-blogPost-description p object,
.pluck-publicBlogs-blog-post-preview p object {
  max-width: 100%;
}
@media screen and (max-width: 550px) {
  .pluck-publicBlogs-blogPost-content,
  .pluck-publicBlogs-blog-post-content {
    clear: both;
    margin-left: 0;
    padding: 0;
  }
  .pluck-publicBlogs-blogPost-avatar-wrap,
  .pluck-publicBlogs-blog-post-avatar-wrap {
    display: none;
  }
  .pluck-publicBlogs-blog-sidebar {
    display: none;
  }
}
/* REVIEWS MIXINS */
/* REVIEWS STYLES */
/* REVIEWS LIST WIDGET */
.pluck-review-list {
  max-width: 100%;
}
.pluck-review-list .pluck-review-main-area .pluck-review-full-wrap {
  border: none;
  padding-bottom: 0 !important;
}
.pluck-review-list .pluck-review-main-area .pluck-review-full-wrap .pluck-review-full-header {
  background-color: #ffffff;
}
.pluck-review-list .pluck-review-main-area .pluck-review-full-wrap .pluck-review-full-header p.pluck-review-full-header-headline {
  visibility: hidden;
}
.pluck-review-list .pluck-review-main-area .pluck-review-full-wrap .pluck-review-full-subheader {
  border: none;
  background-color: #4d4d4d;
}
.pluck-review-list .pluck-review-main-area .pluck-review-full-wrap .pluck-review-full-subheader a.pluck-review-full-header-filter,
.pluck-review-list .pluck-review-main-area .pluck-review-full-wrap .pluck-review-full-subheader p.pluck-review-full-header-sort-label,
.pluck-review-list .pluck-review-main-area .pluck-review-full-wrap .pluck-review-full-subheader p.pluck-review-full-subheader-headline,
.pluck-review-list .pluck-review-main-area .pluck-review-full-wrap .pluck-review-full-subheader p.pluck-review-full-subheader-headline span.pluck-review-total-count {
  color: white !important;
  text-decoration: none;
}
.pluck-review-list .pluck-review-main-area .pluck-review-full-wrap .pluck-review-full-review-powered-by-wrap {
  display: none;
}
.pluck-review-list .pluck-review-main-area .pluck-review-full-wrap .pluck-review-full-content-wrap .pluck-review-full-review-single-review-wrap .pluck-review-full-attributes {
  width: auto;
}
.pluck-review-list .pluck-review-main-area .pluck-review-full-wrap .pluck-review-full-content-wrap .pluck-review-full-review-single-review-wrap .pluck-review-full-attributes .pluck-review-full-attributes-single span.pluck-review-full-attributes-name {
  width: auto;
}
.pluck-review-list .pluck-review-main-area .pluck-review-full-wrap .pluck-review-full-content-wrap .pluck-review-full-review-single-review-wrap .pluck-review-full-attributes .pluck-review-full-attributes-single .pluck-review-attributesOutput {
  background: transparent;
  margin: 0 0 8px 10px;
  letter-spacing: 0px;
}
.pluck-review-list .pluck-review-main-area .pluck-review-full-wrap .pluck-review-full-content-wrap .pluck-review-full-review-single-review-wrap .pluck-review-full-stars span.pluck-review-full-timestamp {
  margin-right: 40px;
}
.pluck-review-list .pluck-review-main-area .pluck-review-full-wrap .pluck-review-full-content-wrap .pluck-review-isFeatured {
  background-color: transparent;
}
.pluck-review-create-review-actions {
  width: auto;
}
.pluck-review-full-review-action-recommend {
  width: 100%;
}
.pluck-review-full-review-action-recommend p {
  float: left;
}
.pluck-review-full-review-action-recommend p span,
.pluck-review-full-review-action-recommend p a {
  float: left;
}
/* REVIEW STAR COLORS */
.star-on,
.stop-on {
  color: #ef3c1f;
}
.star-off,
.stop-off {
  color: #c0c0c0;
}
/* REVIEW HELPFUL VOTING ICONS */
/* END REVIEW HELPFUL VOTING ICONS */
/* 550px Breakpoint */
@media screen and (max-width: 550px) {
  .pluck-review-full-review-action-share {
    float: none;
    margin: 13px 0 20px 55px;
  }
  .pluck-review-full-review-comment-text {
    margin-bottom: 0px;
    padding-bottom: 10px;
    margin-top: 43px;
  }
  .pluck-review-create-review-actions {
    width: 100%;
  }
  .pluck-review-avatar {
    display: none;
  }
  .pluck-review-full-reviewer-meta,
  .pluck-review-full-review-desc p,
  .pluck-review-full-review-desc div.pluck-review-full-review-body,
  .pluck-review-full-review-action-recommend,
  .pluck-review-full-review-action-share {
    margin-left: 0;
  }
  .pluck-review-full-review-action-buttons {
    margin: 0 10px 45px 10px;
  }
  .pluck-review-full-review-desc,
  .pluck-review-full-review-comment-wrap,
  p.pluck-review-full-review-pro,
  p.pluck-review-full-review-con {
    margin-left: 10px;
  }
}
/* 450px Breakpoint */
@media screen and (max-width: 450px) {
  a.pluck-review-list-create {
    float: left;
    width: 250px;
  }
  p.pluck-review-full-header-headline {
    clear: both;
  }
  p.pluck-review-full-header-sort-label {
    clear: left;
  }
  .pluck-review-full-attributes {
    float: left;
  }
  .pluck-review-full-reviewer-block {
    clear: both;
  }
  .pluck-review-create-author-attributes .pluck-review-create-review-actions {
    border: none;
    width: 100%;
    clear: both;
  }
  .pluck-review-create-review-attribute-single-label {
    width: 110px;
  }
  .pluck-review-create-review-slide-box {
    margin-left: 128;
  }
  .pluck-review-create-review-slide-box-wrap {
    clear: both;
  }
  .pluck-review-create-review-attribute-single .pluck-review-create-review-slide-box {
    margin-left: 20px;
  }
  .pluck-review-create-review-primary-buttons {
    padding-left: 0px;
  }
}
p.pluck-review-full-header-sort-label {
  margin-top: 5px;
  margin-left: 150px;
}
div#ProductReviewRollup div.plck-app-container-loaded {
  padding-top: 0;
}
.product_meta {
  margin-top: -20px;
}
/*
Header is relative so z-index: 1 guarantees always displayed on top
*/
hamburger-header {
  background-color: #d6d6d6;
  padding: 10px;
  text-decoration: none;
  position: relative;
  z-index: 100;
  -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.4);
  display: none;
}
/*
the hamburger button with a little gradient effekt
*/
#hamburger {
  border: 1px solid #888888;
  cursor: pointer;
  display: block;
  height: 24px;
  padding: 3px 4px 3px;
  position: relative;
  width: 25px;
  background: #888888;
  /*
    The white stripes in the hamburger button
    */
}
#hamburger div {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  height: 2px;
  margin-top: 3px;
  width: 90%;
}
/*
Style the navigation menu
*/
nav.hamburger-nav {
  left: 0px;
  top: 0px;
  display: none;
  position: relative;
  z-index: 50;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  background: #3e3c3d;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3e3c3d', endColorstr='#2d2c2d', GradientType=0);
}
nav.hamburger-nav ul {
  list-style: none;
  margin: 0;
  width: 100%;
  padding: 0;
  background-color: #d6d6d6;
}
nav.hamburger-nav li {
  position: relative;
  float: none;
  display: list-item;
  font-size: 1.3em;
  font-weight: bold;
  padding: 6px 15px;
  border-bottom: 1px solid #bdbdbd;
}
nav.hamburger-nav li a {
  color: #fff;
  text-decoration: none;
}
nav.hamburger-nav li a.pluck-persona-third-navigation-link-active,
nav.hamburger-nav li a.pluck-persona-first-navigation-link-active {
  background-color: #ef3c1f;
  border-radius: 0px;
}
nav.hamburger-nav li a.pluck-persona-third-navigation-link-active:hover,
nav.hamburger-nav li a.pluck-persona-first-navigation-link-active:hover {
  color: inherit;
}
nav.hamburger-nav li div {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background-color: #93918d;
  border: none;
}
/*
The Layer that will be layed over the content
so that the content is unclickable while menu is shown
*/
.hamburgerContentLayer {
  display: none;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 30%;
  z-index: 5;
}
@media screen and (max-width: 600px) {
  hamburger-header {
    display: block;
  }
  .scrolling-menu-wrap {
    display: none;
  }
}
.pluck-publicPhotos,
.pluck-publicVideos {
  min-width: 0;
}
.pluck-publicPhotos a,
.pluck-publicVideos a {
  color: #ef3c1f;
}
.pluck-publicPhotos-wrapper,
.pluck-publicVideos-wrapper {
  border: 0;
}
.pluck-publicPhotos-title-bar,
.pluck-publicVideos-title-bar,
.pluck-publicPhotos-gallery-photos-bar,
.pluck-publicVideos-gallery-photos-bar {
  background-color: #4d4d4d;
}
.pluck-publicPhotos-title-bar a,
.pluck-publicVideos-title-bar a,
.pluck-publicPhotos-gallery-photos-bar a,
.pluck-publicVideos-gallery-photos-bar a {
  color: white !important;
  font-family: arial, helvetica, sans-serif;
}
.pluck-publicPhotos-gallery-photos-sort span,
.pluck-publicVideos-gallery-photos-sort span {
  color: white;
}
p.pluck-publicPhotos-gallery-photos-title,
p.pluck-publicVideos-gallery-photos-title {
  margin-top: -2px;
  font-size: 1em;
  font-weight: bold;
}
.pluck-publicPhotos-wrapper-logo,
.pluck-publicVideos-wrapper-logo {
  display: none;
}
.pluck-publicPhotos-gallery-actions span a,
.pluck-publicVideos-gallery-actions span a {
  background: none !important;
}
.pluck-publicVideos-video-actions a,
.pluck-publicPhotos-photo-actions a {
  background: none !important;
}
.pluck-groups {
  min-width: 0;
}
.pluck-groups-wrapper {
  border: none;
}
.pluck-groups-wrapper a {
  color: #ef3c1f;
}
.pluck-groups-group-wrapper {
  background-color: #ffffff;
}
.pluck-groups-list-title-bar {
  background-color: #4d4d4d;
}
.pluck-groups-wrapper-logo {
  display: none;
}
.pluck-groups-header-data,
.pluck-groups-navigation,
.pluck-groups-navigation-tabs {
  background-color: #4d4d4d;
}
.pluck-groups-header-data ul,
.pluck-groups-navigation ul,
.pluck-groups-navigation-tabs ul {
  background-color: #4d4d4d;
}
.pluck-groups-header-subinfo {
  background-color: #ffffff;
}
.pluck-groups-overview-pod-desc {
  border: none !important;
}
.pluck-groups-overview-searchbar,
.pluck-groups-overview-actions-narrow,
.pluck-groups-overview-pod-desc {
  background-color: transparent !important;
}
span.pluck-groups-overview-actions-action a {
  background: none !important;
  padding-left: 0;
}
.pluck-groups-header-groups {
  margin-top: -15px;
}
@media screen and (max-width: 600px) {
  a.pluck-groups-list-create-action,
  div.pluck-groups-list-search {
    display: none;
  }
  .pluck-groups-list-group {
    width: 30%;
    height: 130px;
  }
  .pluck-groups-list-group-avatar {
    float: none;
  }
  .pluck-groups-list-group-info {
    margin-left: 0;
  }
  .pluck-groups-overview-rightrail {
    display: none;
  }
  .pluck-groups-overview-centerrail-right {
    margin-right: 0;
  }
  .pluck-groups-people-filter-container {
    display: none;
  }
  .pluck-groups-people-search-container {
    display: none;
  }
  .pluck-groups-navigation {
    display: none;
  }
  .pluck-events-list-sidebar {
    display: none;
  }
  .pluck-groups-events .pluck-events-list-workarea {
    margin-right: 0;
  }
  .pluck-groups-forum .pluck-forums {
    min-width: 0 !important;
  }
  .pluck-groups-header-groups {
    float: none;
    margin: 0 0 0 87px;
  }
}
@media screen and (max-width: 495px) {
  .pluck-groups-list-group {
    width: 40%;
  }
  .pluck-forums-main-discussion-icon {
    display: none;
  }
  .pluck-forums-main-discussion-latest-post-col {
    width: 100px;
  }
  .pluck-forums-main-discussion-views-col {
    width: 50px;
    right: 140px;
  }
  .pluck-forums-viewtracking .pluck-forums-main-discussion-posts-col {
    right: 100px;
  }
  .pluck-forums-viewtracking .pluck-forums-main-discussion-name-col {
    margin: 0;
    margin-right: 200px;
  }
  .pluck-groups-forum .pluck-forums-discussionList .pluck-forums-action-bar {
    display: none;
  }
}
.plck-app-container-loaded {
  box-shadow: none !important;
}
body {
  font-size: 0.938em !important;
}
.nav-menu li a {
  color: white !important;
}
ul.site-header-cart li li a {
  color: white !important;
}
a {
  color: #ef3c1f !important;
}
a.pluck-secondary-button,
a.pluck-primary-button {
  background: none;
  background-image: linear-gradient(#888888, 50%, #636363, 50%, #636363);
  border: 1px solid #636363;
}
a.pluck-secondary-button span.pluck-primary-button-text,
a.pluck-primary-button span.pluck-primary-button-text,
a.pluck-secondary-button span.pluck-secondary-button-text,
a.pluck-primary-button span.pluck-secondary-button-text {
  background: none;
  color: #fff;
  font-size: 14px;
}
/* discovery */
.pluck-discovery-wrapper {
  border: none;
}
.pluck-discovery-wrapper a {
  color: #ef3c1f !important;
}
.pluck-discovery-wrapper .pluck-discovery-title-bar {
  background-color: transparent;
}
.pluck-discovery-wrapper .pluck-discovery-title-bar h1.pluck-discovery-header {
  color: #353535;
  border: 0;
}
.pluck-discovery-wrapper .pluck-discovery-wrapper-logo {
  display: none;
}
/* PERSONA MIXINS */
.pluck-persona-update-text a {
  color: #ef3c1f !important;
}
.pluck-persona-main-wrap {
  min-width: 0;
  background-color: #ffffff;
}
.pluck-persona-main-wrap .pluck-persona-username-header {
  background-color: #ffffff;
}
.pluck-persona-main-wrap .pluck-persona-username-header p.pluck-persona-username-text span.pluck-persona-username {
  color: #393939;
  font-size: 24px;
}
.pluck-persona-main-wrap .pluck-persona-username-first-person-header {
  background-color: #393939;
  min-height: 74px;
}
.pluck-persona-main-wrap .pluck-persona-username-first-person-header p.pluck-persona-username-first-person-text span.pluck-persona-first-person-username {
  color: #ffffff;
  font-size: 22pt;
  float: none;
}
.pluck-persona-main-wrap .pluck-persona-username-first-person-header p.pluck-persona-username-first-person-text span.pluck-persona-first-person-user-status {
  display: block;
}
.pluck-persona-main-wrap .pluck-persona-first-navigation {
  background-color: #ffffff !important;
  display: block;
  width: 100%;
}
.pluck-persona-main-wrap .pluck-persona-first-navigation .pluck-persona-first-global-navigation-holder {
  background-color: #ffffff !important;
  height: 25px;
}
.pluck-persona-main-wrap .pluck-persona-first-navigation .pluck-persona-first-global-navigation-holder span.pluck-persona-first-global-navigation-element {
  margin-top: 0px;
  font-size: .9em;
}
.pluck-persona-main-wrap .pluck-persona-first-navigation .pluck-persona-first-global-navigation-holder span.pluck-persona-first-global-navigation-element a {
  color: #000000 !important;
}
.pluck-persona-main-wrap .pluck-persona-first-navigation .pluck-persona-first-navigation-tabs {
  background-color: #ffffff;
  margin: 0 auto;
  margin-top: 2px;
  height: 34px;
}
.pluck-persona-main-wrap .pluck-persona-first-navigation .pluck-persona-first-navigation-tabs ul {
  background-color: transparent;
}
.pluck-persona-main-wrap .pluck-persona-first-navigation .pluck-persona-first-navigation-tabs ul li.pluck-persona-first-navigation-element {
  background-color: transparent;
  margin-top: 0px;
  margin-bottom: 0px;
}
.pluck-persona-main-wrap .pluck-persona-first-navigation .pluck-persona-first-navigation-tabs ul li.pluck-persona-first-navigation-element div {
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
}
.pluck-persona-main-wrap .pluck-persona-first-navigation .pluck-persona-first-navigation-tabs ul li.pluck-persona-first-navigation-element div a {
  color: white !important;
  font-size: 1em;
}
.pluck-persona-main-wrap .pluck-persona-first-navigation .pluck-persona-first-navigation-tabs ul li.pluck-persona-first-navigation-element div.pluck-persona-first-navigation-hover-on {
  background-color: #d2d2d2 !important;
}
.pluck-persona-main-wrap .pluck-persona-first-navigation .pluck-persona-first-navigation-tabs ul li.pluck-persona-first-navigation-element div.pluck-persona-first-navigation-hover-off {
  background: #868686 !important;
}
.pluck-persona-main-wrap .pluck-persona-first-navigation .pluck-persona-first-navigation-tabs ul li.pluck-persona-first-navigation-element div.pluck-persona-first-navigation-hover-active {
  background-color: #ddd !important;
}
.pluck-persona-main-wrap .pluck-persona-first-navigation .pluck-persona-first-navigation-tabs ul li.pluck-persona-first-navigation-element div.pluck-persona-first-navigation-hover-active a {
  color: #000000 !important;
}
.pluck-persona-main-wrap .pluck-persona-userbar-wrapper {
  background: transparent;
}
.pluck-persona-main-wrap .pluck-persona-userbar-wrapper .pluck-persona-userbar-stats {
  margin-top: 15px;
}
.pluck-persona-main-wrap .pluck-persona-userbar-wrapper .pluck-persona-userbar-stats .pluck-persona-userbar-stats-data {
  width: auto;
}
.pluck-persona-main-wrap .pluck-persona-userbar-wrapper .pluck-persona-userbar-stats .pluck-persona-userbar-stats-data p.pluck-persona-userbar-stats-data-slice {
  text-align: left;
}
.pluck-persona-main-wrap .pluck-persona-userbar-wrapper .pluck-persona-userbar-stats .pluck-persona-userbar-stats-data p.pluck-persona-userbar-stats-data-slice span.pluck-persona-userbar-stats-data-label a {
  font-weight: bold;
  color: #4d4d4d;
}
.pluck-persona-main-wrap .pluck-persona-userbar-wrapper .pluck-persona-userbar-stats .pluck-persona-userbar-stats-data p.pluck-persona-userbar-stats-data-slice .pluck-persona-userbar-stats-data-info {
  padding-left: 5px;
}
.pluck-persona-main-wrap .pluck-persona-userbar-wrapper .pluck-persona-userbar-avatar-quickguide-wrap .pluck-persona-userbar-avatar-quickguide > div {
  border-top: thin solid #999999;
}
.pluck-persona-main-wrap .pluck-persona-userbar-wrapper .pluck-persona-userbar-avatar-quickguide-wrap .pluck-persona-userbar-avatar-quickguide .pluck-persona-userbar-avatar-quickguide-friends .pluck-persona-userbar-avatar-quickguide-avatars .pluck-user-isEditorTier .pluck-persona-avatar {
  background: none;
  border: 0;
}
.pluck-persona-main-wrap .pluck-persona-third-main-area,
.pluck-persona-main-wrap .pluck-persona-first-main-area {
  background: #ffffff;
}
.pluck-persona-main-wrap .pluck-persona-username-third-person-footer,
.pluck-persona-main-wrap .pluck-persona-username-first-person-footer {
  display: none;
}
.pluck-persona-main-wrap .pluck-persona-first-blog-entry,
.pluck-persona-main-wrap .pluck-persona-first-blog-entry-highlight {
  background-color: #ffffff;
}
.pluck-persona-main-wrap .pluck-persona-firstperson-narrow-wrapper .pluck-first-all-wrapper .pluck-wall-post-update {
  border: #e5e5e5;
  background-color: #e5e5e5;
  margin-left: 0;
}
.pluck-persona-userbar-avatar-quickguide-avatars {
  height: auto;
  clear: both;
  margin-bottom: 0;
  padding-top: 10px;
}
.pluck-persona-userbar-avatar-quickguide-avatars .pluck-persona-userbar-avatar-quickguide-avatar .pluck-persona-avatar {
  height: 50px;
}
.pluck-persona-userbar-avatar-quickguide-avatars .pluck-persona-userbar-avatar-quickguide-avatar .pluck-persona-avatar img.pluck-avatar {
  border: 0;
}
span.pluck-persona-userbar-avatar-quickguide-action {
  display: none;
}
.pluck-persona-userbar-rss,
.pluck-persona-userbar-anchor {
  display: none;
}
.pluck-persona-third-navigation {
  background: transparent;
}
.pluck-persona-third-navigation .pluck-persona-third-navigation-tabs {
  background-color: #ffffff;
}
.pluck-persona-third-navigation .pluck-persona-third-navigation-tabs ul.pluck-persona-third-navigation-holder {
  background-color: #ffffff;
}
.pluck-persona-third-navigation .pluck-persona-third-navigation-tabs ul.pluck-persona-third-navigation-holder li.pluck-persona-third-navigation-element {
  background-color: #ffffff;
}
.pluck-persona-third-navigation .pluck-persona-third-navigation-tabs ul.pluck-persona-third-navigation-holder li.pluck-persona-third-navigation-element div a {
  color: white !important;
}
.pluck-persona-third-navigation .pluck-persona-third-navigation-tabs ul.pluck-persona-third-navigation-holder li.pluck-persona-third-navigation-element div.pluck-persona-third-navigation-hover-on {
  background-color: #d2d2d2 !important;
}
.pluck-persona-third-navigation .pluck-persona-third-navigation-tabs ul.pluck-persona-third-navigation-holder li.pluck-persona-third-navigation-element div.pluck-persona-third-navigation-hover-on a {
  font-size: 1.1em !important;
  padding-top: 6px;
}
.pluck-persona-third-navigation .pluck-persona-third-navigation-tabs ul.pluck-persona-third-navigation-holder li.pluck-persona-third-navigation-element div.pluck-persona-third-navigation-hover-off a {
  font-size: 1.1em !important;
  padding-top: 6px;
}
.pluck-persona-third-navigation .pluck-persona-third-navigation-tabs ul.pluck-persona-third-navigation-holder li.pluck-persona-third-navigation-element .pluck-persona-third-navigation-hover-active {
  background: #ddd !important;
}
.pluck-persona-third-navigation .pluck-persona-third-navigation-tabs ul.pluck-persona-third-navigation-holder li.pluck-persona-third-navigation-element .pluck-persona-third-navigation-hover-active a {
  color: #000000 !important;
  font-size: 1.1em !important;
  padding-top: 6px;
}
.pluck-third-subnavigation {
  background-color: transparent;
}
.pluck-third-subnavigation .pluck-third-subnav-link-container div {
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
  padding: 0;
  font-size: 1.1em;
}
.pluck-third-subnavigation .pluck-third-subnav-link-container .pluck-third-subnav-link-active {
  background-color: #b2b2b2 !important;
}
.pluck-third-subnavigation .pluck-third-subnav-link-container .pluck-third-subnav-link-active a {
  color: #000000 !important;
}
.pluck-third-subnavigation .pluck-third-subnav-link-container .pluck-third-subnav-item-off {
  background-color: #93918d !important;
}
.pluck-third-subnavigation .pluck-third-subnav-link-container .pluck-third-subnav-item-off a {
  color: #ffffff;
}
.pluck-third-subnavigation .pluck-third-subnav-link-container .pluck-third-subnav-item-on {
  background-color: #e0e0e0 !important;
}
.pluck-third-subnavigation .pluck-third-subnav-link-container .pluck-third-subnav-item-on a {
  color: #000000;
}
.pluck-first-subnavigation {
  background-color: transparent;
  margin-top: 10px;
  height: 30px;
}
.pluck-first-subnavigation .pluck-first-subnav-link-container {
  height: auto;
  margin-bottom: 0;
}
.pluck-first-subnavigation .pluck-first-subnav-link-container div {
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
  padding: 0;
  font-size: 1.1em;
}
.pluck-first-subnavigation .pluck-first-subnav-link-container .pluck-first-subnav-link-active {
  background-color: #b2b2b2 !important;
}
.pluck-first-subnavigation .pluck-first-subnav-link-container .pluck-first-subnav-link-active a {
  color: #000000 !important;
}
.pluck-first-subnavigation .pluck-first-subnav-link-container .pluck-first-subnav-item-off {
  background-color: #93918d !important;
}
.pluck-first-subnavigation .pluck-first-subnav-link-container .pluck-first-subnav-item-off a {
  color: #ffffff !important;
}
.pluck-first-subnavigation .pluck-first-subnav-link-container .pluck-first-subnav-item-on {
  background-color: #e0e0e0 !important;
}
.pluck-first-subnavigation .pluck-first-subnav-link-container .pluck-first-subnav-item-on a {
  color: #000000 !important;
}
.pluck-persona-hero-avatar,
.pluck-persona-userbar-stats,
.pluck-persona-userbar-stats-data,
.pluck-persona-userbar-avatar-quickguide-wrap,
.pluck-persona-userbar-rss,
.pluck-persona-userbar-anchor,
.pluck-persona-userbar-actions {
  background: #ececec;
  border: none;
}
.pluck-persona-first-blog-taglist,
.pluck-persona-first-blog-archives,
.pluck-persona-first-blog-search-result-display {
  background-color: #e0e0e0;
}
.pluck-persona-personal-rank-badge-wrap {
  display: none;
}
.pluck-persona-sidebar-info-area {
  margin-top: 24px;
  margin-right: 0;
}
.pluck-persona-sidebar-messages-header,
.pluck-persona-sidebar-profile-header,
.pluck-persona-sidebar-know-header {
  background-color: #393939;
}
.pluck-persona-sidebar-messages-header p,
.pluck-persona-sidebar-profile-header p,
.pluck-persona-sidebar-know-header p {
  color: #ffffff;
}
.pluck-persona-sidebar-messages-body,
.pluck-persona-sidebar-profile-body,
.pluck-persona-sidebar-know-body {
  background-color: #e5e5e5;
  margin-bottom: 20px;
}
.pluck-persona-sidebar-messages-body p,
.pluck-persona-sidebar-profile-body p,
.pluck-persona-sidebar-know-body p {
  color: #000000;
}
.pluck-persona-sidebar-messages-body p strong,
.pluck-persona-sidebar-profile-body p strong,
.pluck-persona-sidebar-know-body p strong {
  font-weight: bold;
  font-size: 13px;
  color: #000000;
}
.pluck-persona-sidebar-info-endcap {
  display: none;
}
.pluck-persona-sidebar-profile-progressBar {
  border: 1px solid grey;
  border-radius: 24px;
  background: none;
  width: 102px;
  height: 12px;
  margin-left: 7px;
}
.pluck-persona-sidebar-profile-progressBar span {
  background: none;
  background-color: #ef3c1f;
  border-radius: 24px;
  width: 100px;
  height: 10px;
}
.pluck-persona-sidebar-profile-progressBar span em {
  background: none;
  background-color: #e5e5e5;
  width: 100px;
  height: 10px;
}
@media screen and (max-width: 600px) {
  .pluck-persona-personal-sidebar-wrapper {
    display: none;
  }
  .pluck-persona-firstperson-narrow-wrapper {
    margin: 0 auto;
  }
  .pluck-persona-third-main-area {
    margin: 0px auto;
    clear: both;
  }
  .pluck-persona-third-main-area .pluck-persona-avatar {
    display: none;
  }
  .pluck-persona-third-main-area .pluck-persona-update-text {
    margin-left: 0;
  }
  .pluck-persona-third-main-area .pluck-persona-third-navigation {
    background: transparent;
    height: auto;
  }
  .pluck-persona-third-main-area .pluck-third-all-wrapper .pluck-persona-third-people-wrapper .pluck-persona-third-people-container {
    width: auto;
    min-width: 100px;
    max-width: 25%;
    min-height: 100px;
    padding: 0 10px;
  }
  .pluck-persona-third-main-area .pluck-third-all-wrapper .pluck-persona-third-people-wrapper .pluck-persona-third-people-container .pluck-persona-avatar {
    display: block;
    float: none;
    height: auto;
    width: auto;
  }
  .pluck-persona-third-main-area .pluck-third-all-wrapper .pluck-persona-third-people-wrapper .pluck-persona-third-people-container .pluck-persona-avatar-desc {
    float: none;
    width: 100%;
    margin: 0 auto;
    clear: both;
  }
  .pluck-persona-third-main-area .pluck-third-all-wrapper .pluck-persona-third-groups-wrapper .pluck-persona-third-groups-container {
    width: auto;
    min-width: 100px;
    max-width: 25%;
    min-height: 100px;
    padding: 0 10px;
    margin-right: 0;
  }
  .pluck-persona-third-main-area .pluck-third-all-wrapper .pluck-persona-third-groups-wrapper .pluck-persona-third-groups-container .pluck-group-avatar {
    display: block;
    float: none;
    height: auto;
    width: auto;
  }
  .pluck-persona-third-main-area .pluck-third-all-wrapper .pluck-persona-third-groups-wrapper .pluck-persona-third-groups-container .pluck-persona-avatar-desc {
    float: none;
    width: 100%;
    margin: 0 auto;
    clear: both;
  }
  .pluck-persona-userbar-wrapper {
    width: 100%;
    background: transparent;
    height: auto;
    margin: 0;
    padding: 0;
  }
  .pluck-persona-userbar-wrapper .pluck-persona-hero-avatar {
    width: auto;
    float: left;
    border: 0;
    margin: 0;
    padding: 0;
    background-color: transparent;
  }
  .pluck-persona-userbar-wrapper .pluck-persona-hero-avatar .pluck-persona-hero-avatar-wrapper {
    width: 100%;
    margin: 0;
    padding: 5px;
    height: auto;
  }
  .pluck-persona-userbar-wrapper .pluck-persona-hero-avatar .pluck-persona-hero-avatar-wrapper img {
    border: 1px solid #4d4d4d;
  }
  .pluck-persona-userbar-wrapper .pluck-persona-userbar-stats {
    float: left;
    margin: 0;
    padding: 0;
    width: 50%;
    background: transparent;
    border: 0;
  }
  .pluck-persona-userbar-wrapper .pluck-persona-userbar-stats .pluck-persona-userbar-stats-data {
    background: transparent;
  }
  .pluck-persona-userbar-wrapper .pluck-persona-userbar-actions {
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #ffffff;
    border: 0;
    border-top: thin solid #999999;
  }
  .pluck-persona-userbar-wrapper .pluck-persona-userbar-avatar-quickguide-wrap {
    clear: both;
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: transparent;
  }
  .pluck-persona-userbar-wrapper .pluck-persona-userbar-avatar-quickguide-wrap .pluck-persona-userbar-avatar-quickguide > div {
    border-top: thin solid #999999;
  }
  .pluck-persona-userbar-wrapper .pluck-persona-userbar-avatar-quickguide-wrap .pluck-persona-userbar-avatar-quickguide .pluck-persona-userbar-avatar-quickguide-friends span.pluck-persona-userbar-avatar-quickguide-action {
    display: none;
  }
  .pluck-persona-userbar-wrapper .pluck-persona-userbar-avatar-quickguide-wrap .pluck-persona-userbar-avatar-quickguide .pluck-persona-userbar-avatar-quickguide-friends .pluck-persona-userbar-avatar-quickguide-avatars {
    clear: both;
  }
  .pluck-persona-userbar-wrapper .pluck-persona-userbar-avatar-quickguide-wrap .pluck-persona-userbar-avatar-quickguide .pluck-persona-userbar-avatar-quickguide-groups .pluck-persona-userbar-avatar-quickguide-avatars {
    clear: both;
  }
  .pluck-persona-first-blog-controls-wrap {
    display: none;
  }
  .pluck-persona-first-blog-entry-actions-area {
    height: auto;
  }
  .pluck-persona-first-blog-entry-actions-area .pluck-persona-first-blog-entry-actions-container {
    height: auto;
    visibility: inherit;
  }
  .pluck-persona-first-blog-entry-actions-area .pluck-persona-first-blog-entry-actions-container span {
    padding-top: 10px;
  }
}
@media screen and (max-width: 450px) {
  .pluck-persona-userbar-wrapper .pluck-persona-hero-avatar {
    width: 40%;
  }
  .pluck-persona-userbar-wrapper .pluck-persona-hero-avatar .pluck-persona-hero-avatar-wrapper img {
    width: 100%;
  }
  .pluck-persona-userbar-wrapper .pluck-persona-userbar-stats {
    margin-top: 0;
  }
  .pluck-persona-userbar-wrapper .pluck-persona-userbar-stats .pluck-persona-userbar-stats-data p.pluck-persona-userbar-stats-data-slice {
    margin: 0 0 5px 5px;
    padding: 0;
  }
  .pluck-persona-userbar-wrapper .pluck-persona-userbar-stats .pluck-persona-userbar-stats-data p.pluck-persona-userbar-stats-data-slice span.pluck-persona-userbar-stats-data-label {
    width: 100%;
  }
  .pluck-persona-userbar-wrapper .pluck-persona-userbar-stats .pluck-persona-userbar-stats-data p.pluck-persona-userbar-stats-data-slice span.pluck-persona-userbar-stats-data-info {
    display: inline;
    margin: 5px 0 10px 0;
  }
  .pluck-persona-third-info .pluck-third-info-basic-info .pluck-third-basic-info-section-text p.pluck-third-basic-info-data-slice span.pluck-third-basic-info-data-label {
    width: 100%;
  }
  .pluck-persona-third-info .pluck-third-info-basic-info .pluck-third-basic-info-section-text p.pluck-third-basic-info-data-slice span.pluck-third-basic-info-data-info {
    display: inline;
    margin: 5px 0 10px 0;
  }
  .pluck-persona-third-info .pluck-third-info-interests .pluck-third-interests-section-text p.pluck-third-interests-data-slice span.pluck-third-interests-data-label {
    width: 100%;
  }
  .pluck-persona-third-info .pluck-third-info-interests .pluck-third-interests-section-text p.pluck-third-interests-data-slice span.pluck-third-interests-data-info {
    display: inline;
    margin: 5px 0 10px 0;
  }
}
span.pluck-persona-userbar-actions-element a img {
  display: none;
}
span.pluck-persona-userbar-actions-element span.pluck-persona-userbar-actions-span img {
  display: none;
}
span.pluck-persona-userbar-actions-element span.pluck-persona-userbar-actions-span,
span.pluck-persona-userbar-actions-element a {
  background: #f9a131;
  color: white !important;
  font-size: 1em;
  padding: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  width: 130px;
  display: block;
  text-align: center;
  margin-left: 25px;
}
.pluck-persona-update-controls span.pluck-persona-update-controls-comment a.pluck-persona-update-controls-comment-link img.pluck-persona-update-controls-comment-icon {
  display: none;
}
div.scrolling-menu-wrap {
  background-color: #d6d6d6;
  margin: 4px 0 0 0;
  padding: 0 10px;
}
div.scrolling-menu-container {
  white-space: nowrap;
  overflow: hidden;
}
#menuScrollforward,
#menuScrollback,
#scrolling-menubar {
  float: left;
  margin: 10px 0;
  background-color: transparent;
}
ul#scrolling-menubar {
  padding: 0;
  white-space: nowrap;
  width: 93%;
  overflow: hidden;
  margin-right: 10px;
}
li.pluck-persona-first-navigation-element {
  display: inline-block;
  list-style: none;
  float: none;
  margin: 0 0 0 -4px !important;
  border: none;
  background-color: transparent;
  padding: 0;
}
li.pluck-persona-first-navigation-element div {
  background-color: transparent !important;
  border: none;
  padding: 5px 20px;
}
li.pluck-persona-first-navigation-element div a.pluck-persona-first-navigation-link-active,
li.pluck-persona-first-navigation-element div a.pluck-persona-first-navigation-link {
  padding: 2px 0;
  background-color: transparent;
  color: #000000 !important;
}
li.pluck-persona-first-navigation-element div a.pluck-persona-first-navigation-link-active {
  color: #ef3c1f !important;
  font-weight: bold;
}
a.pluck-persona-first-global-navigation-link {
  color: green;
}
.pluck-persona-userbar-actions-link:before {
  content: "" !important;
}
div.pluck-persona-third-review-full-review-action-recommend p span,
div.pluck-persona-third-review-full-review-action-recommend p a {
  float: left;
}
.pluck-user-mp-action-items-btns span,
.pluck-user-mp-action-items-btns a {
  float: left;
}
.pluck-user-mp-dialog {
  background: blue !important;
}
.pluck-user-mp-wrap {
  background: #ffffff !important;
}
pre.pluck-publicPhotos-photo-description {
  background: #E8E8E8;
}
div.pluckui-item-body pre {
  background: #E8E8E8 !important;
}
pre.pluck-publicVideos-video-description {
  background: #E8E8E8;
}
